.header-img {
    width: 100%;
    overflow: hidden;
}

.header-menu {
    background-color: #000000;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Menu Mobile */

.imgMenu {
    width: 35px;
}