* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
  font-style: normal;
}

.boton {
  border: none;
  background-color: #ffb921;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 6px;
  border-radius: 5px;
}

.boton:hover {
  cursor: pointer;
  background-color: #e99100;
}

.botonCardProductos {
  width: 150px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  /* text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; */
}

.fondoGeneral {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

.fondoApp {
  background-image: url('../public/imagenes/fondoOutlet2.png');
  background-size: 100%;
  background-position: center;
  background-repeat: repeat-y;
}

.subtitulo {
  text-align: center;
  color: #5f1502;
  font-size: 40px;
  margin: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}